<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Expense</h1>
    <form action="{{ url_for('add_expense') }}" method="POST">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="0.01" required>
        <br>
        <label for="date">Date (YYYY-MM-DD):</label>
        <input type="text" id="date" name="date" required>
        <br><br>
        <button type="submit">Add Expense</button>
    </form>
</body>
</html>
